/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.header {
  background: url(images/home-img.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: static;
  isolation: isolate;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 200px;
}

.menu_btn {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.links {
  list-style: none;
  position: static;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: 0.5s;
  z-index: -1;
}

.links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: #fff;
  transition: 0.3s;
}

.links a::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0%;
  background: #ff4500;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  transform-origin: left;
}

.links a:hover:after {
  width: 100%;
}

.btn {
  padding: 0.75rem 1.5rem;
  background: #ff4500;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;

}
.btn.nav_btn a {
  color: white;
  text-decoration: none; 
}
.btn:hover {
  background: #cd3801;
}
.btn a {
  color: white;
  text-decoration: none; 
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    padding: 0;
  }

  .navbar {
    width: 100%;
    padding: 1rem;
    background: #ff4500;
  }

  .menu_btn {
    display: block;
  }

  .links {
    position: absolute;
    flex-direction: column;
    width: 100%;
    background: #ff4500;
    padding: 2rem;
    left: 0;
    top: 100%;
    transform: translateY(-100%);
  }

  .links.open {
    transform: translateY(0%);
  }

  .nav_btn {
    display: none;
   
  }
}

.section {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.header_section {
  padding-block: 10rem 15rem;
}

.header_section p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  opacity: 0.6;
}

.header_section h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: #fff;
  text-align: center;
}

.header_section h1 span {
  color: #ff4500;
}

.booking_section {
  padding-block: 0;
}

.booking_form {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background: #fff;
  border-radius: 10px;
  transform: translateY(-50%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.input_box {
  flex: 1 1 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input_box span {
  font-size: 1.75rem;
  color: #ff4500;
}

.input_box label {
  font-weight: 500;
  color: #0c0a09;
}

.input_box input {
  display: block;
  width: 100%;
  max-width: 150px;
  padding: 10px;
  color: #0c0a09;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.footer {
  background: #0c0a09;
}

.footer_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 2rem;
}

@media (max-width: 890px) {
  .footer_section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .footer_section {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer_col .desc {
  margin-block: 2rem;
}

.footer_col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.footer_links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer_links a {
  color: #78716c;
  transition: 0.3s;
}

.footer_links a:hover {
  color: #fff;
}

.socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.socials a {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c0a09;
  font-size: 1.1rem;
  opacity: 0.8;
  transition: 0.3s;
}

.socials a:hover {
  opacity: 1;
}

.copyright {
  padding: 1rem;
  font-size: 0.9rem;
  color: #78716c;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #ff4500;
  border-radius: 20px;
}